*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Times New Roman", Times, serif;
  background-color: palegoldenrod;
}

#heading {
  font-weight: bold;
  text-align: center;
}

ul li {
  padding: 10px;
}

.list-item {
  color: brown;
  text-decoration: none;
}
