/* this is conventional standard to make everything the  
size you would like so do this before 
any project at the beginning of css files */

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Times New Roman", Times, serif;
  background-color: palegoldenrod;
  padding: 5px;
  text-transform: capitalize;
}

h1,
h2,
h3,
h4 {
  margin-bottom: 5px;
}

.head {
  text-align: center;
}

.header {
  display: flex;
}

.description {
  padding-left: 15px;
}

img.images {
  width: 370px;
  height: auto;
  margin-right: auto;
}

.details {
  background-color: rgb(230, 228, 208);
  margin: 5px;
  padding: 70px;
}

.container {
  background-color: rgb(174, 174, 204);
  display: flex;
  margin-top: 10px;
}
